<!DOCTYPE html>
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jesper's Webshop</title>
        <script src="resetDB.js"></script>
    </head>

    <body>
        <div style="margin: 10px; border: 2px solid black">
            <div style="">
                <h3 style="margin: 10px">
                    Our shop statistics:
                </h3>
                <ul>
                    <li>{{ nrItems }} items for sale!</li>
                    <li>{{ recentItems }} items added today</li>
                    <li>{{ nrUsers }} total users</li>
                    <li>{{ activeUsers }} active users</li>
                </ul>
            </div>
            <div style="margin: 10px; border: 1px solid black">
                <h2 style="margin: 10px">
                    By going to the store you accept our terms and conditions
                </h2>
                <div style="margin: auto; display: flex">
                    <a style="font-weight: bold; font-size: large; margin: auto" href="/signup">Sign up</a>
                    <a style="font-weight: bold; font-size: large; margin: auto" href="/login">Log in</a>
                    <a style="font-weight: bold; font-size: large; margin: auto" href="/shop">Go to shop</a>
                </div>
            </div>
        </div>
    </body>
    </html>
{% endblock %}


